.Hero {
    padding: 100px 40px;
    background-color: #dcdcdc;
    border-radius: 15px;
    position: relative;
    height: 600px;
    line-height: 0.9; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0%;
    
    
}

.custom-img {
    background-image: url(../img/nikeshoe.png);
    background-size: contain;
    background-position:top;
   background-repeat:no-repeat;
   width: 35rem;
    height: 120%;
    padding: 0%;
}


