@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap");

:root {
    --green: #06e9d2;
    --orange: #ed792f;
    --purple: #9d55bd;
    --background:#fbf9f7;
  }

html{
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

body{
    font-family: 'Unbounded', cursive;
}




.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--orange);
   
}

.logo {
   
    padding-left: 2rem;
}

.nav-items {
  
    font-size: 1.3rem;
    width:20rem;
    display: flex;
    justify-content:space-between;
    padding-right: 15rem;
    text-decoration: none;
    list-style-type: none;
    
}

.cart {
    padding-right: 2rem;
}


/* *****Banner***** */
.Hero {
    height: 800px;
    line-height: 0.9; 
    width: 100%;
    display: flex;
    justify-content:space-around;
    padding: 0%;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}

.hero-header {
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    margin: 0%;
    
}

.herospan1{
    color: var(--green);
}

.herospan2{
    color: var(--orange);
}

.deals{
    font-size: 3rem;
    
}
.hero-descrp{
    font-size: 1rem;
}

.shop-btn{
    height: 2.8rem;
    width: 8.5rem;
    background-color: var(--green);
    border-color: var(--green);
    border-style: solid;
    border-radius: 6px;
    margin-top: 1rem;
    
}

.shop-btn:hover{
    background-color: var(--orange);
    border-color: var(--orange);
}


.custom-img {
    background-image: url(../img/nikeshoe1.png);
    background-size: contain;
    background-position:top;
   background-repeat:no-repeat;
   width: 42rem;
    height: 120%;
    padding: 0%;
    
}

.men-section{
    display: flex;
    justify-content: center;
}

.men-header {
    font-size: 1.5rem;
}

@media all and (max-width: 1200px) {
    .custom-img {
        height: 50%;
        
    }
    .Hero {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .hero-left {
        align-items: center;
    }
    .deals {
        align-self: flex-start;
    }

}

